@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    color: #000;
}

.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordionHeader {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;

    .arrow {
        color: black;
    }
}

.accordionHeader span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;

    font-size: 20px;
}

.accordionBody {
    color: #444;
    font-size: 14px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s, height .3s;
    
    li {
        color: black;
        text-align: left;
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        align-items: center;;

        h5 {
            font-size: 14px;
        }
    }
}

.accordionBody.active {
    height: auto;
    opacity: 1;
    padding: 5px 0px;
}

.arrow {
    transition: transform .2s linear;
    color: black !important;
}

.rotated {
    transform: rotate(180deg);
}

@media screen and (max-width: 562px) {
    .container {
        width: 100%;
    }
}